.overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #111111; opacity: 0.8; }

.open { -webkit-transform: translateX(-50px); -ms-transform: translateX(-50px); transform: translateX(-50px); background: transparent !important; -webkit-box-shadow: none; box-shadow: none; }

.open::before { -webkit-transform: rotate(45deg) translate(35px, -35px) !important; -ms-transform: rotate(45deg) translate(35px, -35px) !important; transform: rotate(45deg) translate(35px, -35px) !important; }

.open::after { -webkit-transform: rotate(-45deg) translate(35px, 35px) !important; -ms-transform: rotate(-45deg) translate(35px, 35px) !important; transform: rotate(-45deg) translate(35px, 35px) !important; }

.cont-img { background-image: url(../img/header.png); width: 100%; height: 619px; background-size: 100% 100%; background-repeat: no-repeat; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-family: "Lato", sans-serif; }

.cont-img .nav { z-index: 200; position: absolute; top: 25px; left: 90px; font-size: 30px; width: 194px; background: darkcyan; display: -webkit-box; display: -ms-flexbox; display: flex; padding: 7px; cursor: pointer; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.cont-img .nav .menu-btn { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 25px; height: 25px; cursor: pointer; -webkit-transition: all .7 ease-in-out; -o-transition: all .7 ease-in-out; transition: all .7 ease-in-out; border: 3px solid  aliceblue; }

.cont-img .nav .menu-btn .menu_btn__burger { width: 20px; height: 3px; background: aliceblue; border-radius: 5px; -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2); box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2); -webkit-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; }

.cont-img .nav .menu-btn .menu_btn__burger::before, .cont-img .nav .menu-btn .menu_btn__burger::after { content: ''; position: absolute; width: 20px; height: 3px; background: aliceblue; border-radius: 5px; -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2); box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2); -webkit-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; }

.cont-img .nav .menu-btn .menu_btn__burger::before { -webkit-transform: translateY(-8px); -ms-transform: translateY(-8px); transform: translateY(-8px); }

.cont-img .nav .menu-btn .menu_btn__burger::after { -webkit-transform: translateY(8px); -ms-transform: translateY(8px); transform: translateY(8px); }

.cont-img .nav p { margin: 2px 15px; font-size: 21px; color: #ecf0f1; font-size: 20px; }

.cont-img .nav .subnav { -webkit-transition-property: background-color, color, left; -o-transition-property: background-color, color, left; transition-property: background-color, color, left; display: none; -webkit-transition: all .3 ease; -o-transition: all .3 ease; transition: all .3 ease; }

.cont-img .nav .subnav ul { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.cont-img .nav .subnav ul li { list-style: none; width: 100%; text-align: center; font-size: 18px; margin: 5px; }

.cont-img .nav .subnav ul li a { text-decoration: none; color: #ecf0f1; -webkit-transition: all .9 ease; -o-transition: all .9 ease; transition: all .9 ease; }

.cont-img .nav .subnav ul li a:hover { color: #3498db; padding-left: 25px; }

.row { z-index: 100; text-align: center; }

.row h4 { color: #3498db; font-size: 25px; }

.row h1 { display: inline-grid; font-size: 60px; width: 60%; }

.row h4, .row h1 { margin: 0; }

.row h1, .row .skill, .row a { color: #ecf0f1; }

.row .skill { border-bottom: 1px solid #ecf0f1; width: 230px; margin: auto; }

.row .skill:hover { border-bottom: 1px solid #3498db; }

.row a { margin: 39px 0px; padding: 18px 0; display: inline-block; width: 231px; border: 2px solid #ecf0f1; text-decoration: none; }

.row a:hover { border: 1px solid #3498db; }
