h1 { text-align: center; font-family: "Permanent Marker", cursive; background-color: #222f3e; color: #fff; border-radius: 15px; width: 300px; margin: 0 auto; text-shadow: 3px 4px #70a1ff; }

.festivo { background-color: #0abde3; }

.main { -webkit-box-shadow: 10px 10px 5px grey; box-shadow: 10px 10px 5px grey; text-shadow: 1px 1px #70a1ff; font-family: "Indie Flower", cursive; background-color: #222f3e; color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border-radius: 100px; }

.main .container { width: 27%; border: 10px solid #fff; }

.main .container .item-col { border: 1px solid gray; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; width: 94%; }

.main .container .item-col:hover { background: #1e90ff; }

.main .container .item-row { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; text-align: center; }

.main .container .item-row div { border: 1px solid gray; width: 13%; }

.main .container .item-row div:hover { background-color: #1e90ff; }

/*
  @media screen and (min-width: 900px)and(max-width:1366px) {
    .container {
      width: 41% !important;
      background-color: $coral;
    }
  }
*/
@media screen and (min-width: 600px) and (max-width: 900px) { .container { width: 41% !important; background-color: #ff6348; } }

@media screen and (max-width: 600px) { .container { width: 100% !important; background-color: #ff6b81; } }
