$peter-blue:#3498db;
$blancoGrey:#ecf0f1;
$midnightBlue:#2c3e50;
$lato:  'Lato', sans-serif;
$roboto:  'Roboto', sans-serif;


body{
    font-family: $lato;
}

.open{
    transform: translateX(-50px);
    background: transparent !important;
    box-shadow: none;

    &::before{
        transform: rotate(45deg) translate(35px, -35px) !important;
    }
    &::after{
        transform: rotate(-45deg) translate(35px, 35px) !important;
    }
}

.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all .7 ease-in-out;
    border: 3px solid  aliceblue;

    .menu_btn__burger{
        width: 20px;
        height: 3px;
        background: aliceblue;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;

        &::before , &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 3px;
            background: aliceblue;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(255,101,47,.2);
            transition: all .5s ease-in-out;
        }


        &::before{
            transform: translateY(-8px);
        }
        &::after{
            transform: translateY(8px);
        }
        
    }
}

.cont-img{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $lato;
    height: 95vh;


    .nav{
    z-index: 200;
    position: absolute;
    top: 25px;
    left: 90px;
    font-size: 30px;
    width: 194px;
    background: $peter-blue;
    display: flex;
    padding: 7px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    

    p{
        margin: 2px 15px;
        font-size: 21px;
        color: $blancoGrey;
        font-size: 20px;
    }

    .subnav{

        transition-property: background-color, color, left;
        display: none;
        transition: all .3 ease;
       
        ul{
            justify-content: space-between;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            li{
                list-style: none;
                width: 100%;
                text-align: center;
                font-size: 18px;
                margin: 5px;
                a{
                    text-decoration: none;
                    color: $blancoGrey;
                    transition: all .9 ease;


                    &:hover{
                        color: $peter-blue;
                        padding-left: 25px;
                        
                    }
                }

            }
        }
    }
}
    }

    .row{

        z-index: 100;
       text-align: center;


        h4{
            color: $peter-blue;
            font-size:  25px;
        }

        h1{
            display: inline-grid;
            font-size: 60px;
            width: 60%;
        }

        h4,h1{
            margin: 0;
        }
    
        h1 , .skill, a {
            color: $peter-blue;
        }

        .skill{
            border-bottom: 1px solid $blancoGrey;
            width: 230px;
            margin: auto;
        }
        .skill:hover{
            border-bottom: 1px solid $peter-blue;
        }

        a{
            margin: 39px 0px;
            padding: 18px 0;
            display: inline-block;
            width: 231px;
            border: 2px solid $blancoGrey;
            text-decoration: none;
        }

        a:hover{
            border: 1px solid $peter-blue;

        }

    }


*{
    box-sizing: border-box;
    outline: none;
}


   
#sliderWrapper{
    display: flex;
    padding:0;
    margin:0;
    height: 100vh;
    width:100%;
    overflow: hidden;
    background-color: grey;


    h1{ 
        position:absolute;
        top: 50%;
        left: 50%;
        z-index: 100;
        color: white;
        font-size: 3rem;
        margin: 0;
        transform: translate(-50%, -50%);
        mix-blend-mode: overlay;
    }

    .buttons{
        position:absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;

        button{
            display: flex;
            background-color: transparent;
            border: none;
            height: 30px;
            margin: 20px 0;
            padding:0;
            cursor: pointer;

            svg{
                fill: white;
            }

            &.next{
                transform: scaleY(-1);
            }
            &.prev:active{
                transform: translateY(8px)
            }
            &.next:active{
                transform: scaleY(-1) translateY(8px);
            }
        }
    }

    //Slides

    .part{
        flex: 1;
        .section{
            position: relative;
            width: 100%;
            height: 100vh;
            overflow: hidden;

            img{
                position: absolute;
                left: var(--x);
                width: 100vw;
                height: 100vh;
                object-fit:cover;
                pointer-events: none;
            }

           
        }
    }
}

.other-main{
    width: 100%;
    max-width:600px;
    margin:45px auto;
    font-family: $roboto;

    .skills{
        .item{
            display: flex;
            align-items: center;
            justify-content: space-between;
        
        progress {
            border: none;
            border-radius: 2rem;
            width: 65%;
            height: 9px;
            animation: prog 2s linear;
            }
            
            ::-webkit-progress-bar-value {background-color: #1DA1F2; border-radius: 2rem;}
            ::-webkit-progress-value {background-color: #1DA1F2; border-radius: 2rem;}
            ::-moz-progress-bar {background-color: #1DA1F2; border-radius: 2rem;}
            
            @keyframes prog {
            0% {width: 0%; background-color: #f1f1f1;}
            100% {width: 65%; color: #000;}
            }

        }
    }
       
    .portafolio{
        margin-top: 80px;
        cursor: pointer;
        text-align: center;
     

        img{
            width: 100%;
            max-width: 600px;
            text-align:center;
        }
    }

    .header{
        display: flex;
        justify-content: space-around;
        .container-img{
            display:flex;
            align-items:center;
            margin-bottom: 60px;
            img{
                width: 100%;
                max-width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 15px;
            }
            .title{
                line-height: 10px;
                color:#3498db;
                h4{
                    color:#bdbdbd;
                }
                h4,h3{
                    margin:0;
                }
            }   
        }

        .nav{ 
            a{
                color:#3498db;
                margin-right:10px;
            }
        }
    }
    
}
